.navbar-header .navbar-brand{
    font-size: 24px;
    font-weight: bold;
    color: #555;
}

.flowchart table tr>td{
    border: none;
}
.flowchart .btn{
    color: blue;
}
.content {
    min-height: 600px;
}
form.person-add input[type="radio"]{
    margin-top: 10px;
}